target/
.project
.classpath
.settings/
.svn/
bin/
# Intellij
*.ipr
*.iml
.idea
out/
.DS_Store
/bootstrap
/dependencies.xml
.java-version
.factorypath

# Repo-managed directories (checked out by repo tool)
/site/
/core/build-cache/
/core/maven/
/core/maven-4.0.x/
/core/mvnd/
/core/resolver/
/core/resolver-ant-tasks/
/core/wrapper/
/core/3.x/
/plugins/core/maven-clean-plugin/
/plugins/core/maven-compiler-plugin/
/plugins/core/maven-deploy-plugin/
/plugins/core/maven-install-plugin/
/plugins/core/maven-resources-plugin/
/plugins/core/maven-site-plugin/
/plugins/core/surefire/
/plugins/core/maven-verifier-plugin/
/plugins/core-4/
/plugins/packaging/maven-ear-plugin/
/plugins/packaging/maven-ejb-plugin/
/plugins/packaging/maven-jar-plugin/
/plugins/packaging/maven-rar-plugin/
/plugins/packaging/maven-war-plugin/
/plugins/packaging/maven-acr-plugin/
/plugins/packaging/maven-shade-plugin/
/plugins/packaging/maven-source-plugin/
/plugins/packaging/maven-jlink-plugin/
/plugins/packaging/maven-jmod-plugin/
/plugins/packaging-4/
/plugins/reporting/maven-changelog-plugin/
/plugins/reporting/maven-changes-plugin/
/plugins/reporting/maven-checkstyle-plugin/
/plugins/reporting/maven-doap-plugin/
/plugins/reporting/maven-javadoc-plugin/
/plugins/reporting/maven-jdeps-plugin/
/plugins/reporting/jxr/
/plugins/reporting/maven-pmd-plugin/
/plugins/reporting/maven-project-info-reports-plugin/
/plugins/tools/maven-antrun-plugin/
/plugins/tools/archetype/
/plugins/tools/maven-artifact-plugin/
/plugins/tools/maven-assembly-plugin/
/plugins/tools/maven-dependency-plugin/
/plugins/tools/enforcer/
/plugins/tools/maven-gpg-plugin/
/plugins/tools/maven-help-plugin/
/plugins/tools/maven-invoker-plugin/
/plugins/tools/maven-jarsigner-plugin/
/plugins/tools/maven-jdeprscan-plugin/
/plugins/tools/plugin-tools/
/plugins/tools/release/
/plugins/tools/maven-remote-resources-plugin/
/plugins/tools/scm/
/plugins/tools/maven-scm-publish-plugin/
/plugins/tools/maven-scripting-plugin/
/plugins/tools/maven-stage-plugin/
/plugins/tools/maven-toolchains-plugin/
/shared/archiver/
/shared/common-artifact-filters/
/shared/dependency-analyzer/
/shared/dependency-tree/
/shared/file-management/
/shared/filtering/
/shared/invoker/
/shared/jarsigner/
/shared/mapping/
/shared/reporting-api/
/shared/reporting-exec/
/shared/reporting-impl/
/shared/script-interpreter/
/shared/shared-incremental/
/shared/shared-io/
/shared/shared-jar/
/shared/shared-resources/
/shared/shared-utils/
/shared/verifier/
/shared-4/
/doxia/doxia/
/doxia/site/
/doxia/sitetools/
/doxia/tools/
/misc/archetypes/
/misc/pom/maven/
/misc/pom/apache/
/misc/pom/apache-resources/
/misc/skins/
/misc/dist-tool/
/misc/gh-actions-shared/
/misc/jenkins/
/misc/indexer/
/misc/plugin-testing/
/misc/wagon/
/studies/master/
/studies/consumer-pom/
/studies/maven-basedir-filesystem/
/studies/maven-ci-extension/
/studies/maven-default-plugins/
/studies/maven-eventsound-extension/
/studies/maven-extension-demo/
/svn/repository-tools/
/svn/sandbox/
/svn/doxia-ide/
/plexus/codehaus-plexus.github.io/
/plexus/modello/
/plexus/classworlds/
/plexus/components/archiver/
/plexus/components/compiler/
/plexus/components/i18n/
/plexus/components/interactivity/
/plexus/components/interpolation/
/plexus/components/io/
/plexus/components/languages/
/plexus/components/resources/
/plexus/components/sec-dispatcher/
/plexus/components/velocity/
/plexus/pom/
/plexus/testing/
/plexus/utils/
/plexus/xml/
/sisu/sisu-project/
